{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{% load static %}

<html>
<head>
    <style>
        .form-control::before {
            content: "₡ "; /* Agrega el signo de peso y un espacio */
        }
    </style>
{% block title %} Baja empleado {% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<br>
<br>
<div class="modal-dialog-lg" role="document">
    <form id="baja_empleado_form" hx-post="{{request.path}}" class="modal-content">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Dar de baja al empleado</h5>
            <button class="btn-close cerrar" type="button" id="cerrar1" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color:white">
            <span class="h7">Empleado: {{empleado.nombres}} {{empleado.apellidos}}</span>
            <br>
            <div>
                {% csrf_token %}
                    <label for="form.fecha" class="col-auto col-form-label"><strong>Fecha:</strong></label>
                    <div class="col-sm-8">
                        {% render_field form.fecha type="date" class="form-control" %}
                    </div>
                    <label for="opcion" class="col-auto col-form-label my-1"><strong>Opción:</strong></label>
<div class="col-12">
    <select id="opcion" class="form-control">
        <option value="finiquito">Finiquito</option>
        <option value="liquidacion">Liquidación</option>
    </select>
</div>
<label for="form.finiquito" class="col-auto col-form-label my-1" id="label_finiquito" style="display: none;"><strong>Finiquito:</strong></label>
<div class="col-6" id="form_finiquito" style="display: none;">
    <div class="input-group">
        <span class="input-group-text">$ </span>
        {{form.finiquito|add_class:"form-control"}}
    </div>
</div>

<label for="form.liquidacion" class="col-auto col-form-label my-1" id="label_liquidacion" style="display: none;"><strong>Liquidación:</strong></label>
<div class="col-6" id="form_liquidacion" style="display: none;">
    <div class="input-group">
        <span class="input-group-text">$ </span>
        {{form.liquidacion|add_class:"form-control"}}
    </div>
</div>
                    <label for="form.motivo" class="col-auto col-form-label my-1"><strong>Motivo:</strong></label>
                    <div class="col-12">
                        {{ form.motivo|add_class:"form-control"}}
                    </div>
                    <label for="form.exitosa" class="col-auto col-form-label my-1"><strong>¿Exitosa la baja?:</strong></label>
                    <div class="col-12">
                        {{ form.exitosa|add_class:"form-control"}}
                    </div>
            </div>
        </div>
        <div class="modal-footer">
            <div>
                <button class="btn btn-success btn-block" id="verificar" type="button">Crear</button> 
            </div>
            <div class="d-none">
                <button class="btn btn-success btn-block" id="crear" type="submit" data-bs-dismiss="modal">Crear</button>
            </div>
            <div>
                <a type="button" class="btn btn-secondary" id="cerrar" data-bs-dismiss="modal">Cerrar</a>
            </div>
        </div>
    </div>
    </form>
</div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document">
    </div>
</div>
<script>
document.getElementById('verificar').addEventListener('click', function() {
    // Intentar enviar el formulario incluso si no es válido
    var form = document.getElementById('baja_empleado_form');
    form.reportValidity();

    if (form.checkValidity()) {
        // Si el formulario es válido, hacer clic en el botón de crear
        document.getElementById('crear').click();
    }
});
document.getElementById('opcion').addEventListener('change', function() {
    var opcionSeleccionada = this.value;
    var labelFiniquito = document.getElementById('label_finiquito');
    var labelLiquidacion = document.getElementById('label_liquidacion');
    var formFiniquito = document.getElementById('form_finiquito');
    var formLiquidacion = document.getElementById('form_liquidacion');

    if (opcionSeleccionada === 'finiquito') {
        labelFiniquito.style.display = 'block';
        labelLiquidacion.style.display = 'none';
        formFiniquito.style.display = 'block';
        formLiquidacion.style.display = 'none';
    } else if (opcionSeleccionada === 'liquidacion') {
        labelLiquidacion.style.display = 'block';
        labelFiniquito.style.display = 'none';
        formLiquidacion.style.display = 'block';
        formFiniquito.style.display = 'none';
    }
});
</script>
{% endblock %}
</body>
</html>

