{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks %}
<html>
<head>
{% block title %} Sol. Bono Varillero {% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
<hr>
<hr>
<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <div class="card-header mb-2">
            <!-- Aqui faltaria el encabezado de los filtros -->

                <h4>Solicitud Bono Varillero</h4>
            </div>
            <h5>Datos de la solicitud:</h5>
            <form method="POST">
            <div>
                {% csrf_token %}
                <div class="row my-2">
                    <label for="form.fecha_pedido" class="col-auto col-form-label"><strong>Fecha de la solicitud:</strong></label>
                    <div class="col-4">
                        <div class="input-group">
                        <span class="input-group-text" id=""><i class="fa-solid fa-calendar-day"></i></span>

                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <label for="form.fecha_pedido" class="col-auto col-form-label"><strong>Tipo de Bono:</strong></label>
                    <div class="col-4">
                        <div class="input-group">
                        <span class="input-group-text" id=""></span>

                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <label for="form.fecha_pedido" class="col-auto col-form-label"><strong>Distrito:</strong></label>
                    <div class="col-4">
                        <div class="input-group">
                        <span class="input-group-text" id=""></span>

                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <label for="form.fecha_pedido" class="col-auto col-form-label"><strong>Evidencia (aST):</strong></label>
                    <div class="col-4">
                        <div class="input-group">
                        <span class="input-group-text" id=""></span>

                        </div>
                    </div>
                </div>
                <div class="row my-2">
                    <label for="form.fecha_pedido" class="col-auto col-form-label"><strong>Evidencia (Reporte Cronologico):</strong></label>
                    <div class="col-4">
                        <div class="input-group">
                        <span class="input-group-text" id=""></span>

                        </div>
                    </div>
                </div>
            </div>
            <div class="text-end">
                <button type="submit" id="crear" name="crear" class="btn btn-success col-2">Crear</button>
                <a type="button" class="btn btn-secondary" href="{% url 'Tabla_uniformes' %}">Salir</a>
            </div>
            </form>
            <hr>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="box-element">
            <div class="row">
                <div class="row my-2">
                    <!--<label class="col-auto col-form-label"><strong>Productos:</strong></label>-->
                    <div class="col-sm-4">
                        <div class="selector input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-helmet-safety"> Puesto</i></span>
                            <select class="form-select form-select-sm" style="font-size:1.1rem" id="ropa">
                                <option id="default_sel">      </option>
                                {% for ropa in ropas %}
                                <option id="js" ropa="{{ropa.id}}" >
                                    {{ropa.ropa}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="col-3 d-none">
                        <div class="input-group">
                        <span class="input-group-text" id=""></span>
                        {{form_uniforme.ropa|add_class:"form-select"}}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="selector input-group mb-3">
                            <span class="input-group-text" id="basic-addon1"><i class="fa-solid fa-user"> Empleado</i></span>
                            <select class="form-select form-select-sm" style="font-size:1.1rem" id="talla">
                                <option id="default_sel">      </option>
                                {% for talla in tallas %}
                                <option id="js" ropa="{{talla.ropa.id}}" talla="{{talla.id}}">
                                    {{talla.talla}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <!--<label for="form.talla" class="col-auto col-form-label my-1"><strong>Talla:</strong></label> -->
                    <div class="col-3 d-none">
                        <div class="input-group">
                        <span class="input-group-text" id="orden" orden="{{orden.id}}"><i class="fa-solid fa-hashtag"></i></span>
                        {{form_uniforme.talla|add_class:"form-select"}}
                        </div>
                    </div>
                    <div class="col-sm-2">
                    <a class="btn btn-success update-uniformes" id="update-uniformes" name="uniformes">
                        <i class="fa-solid fa-circle-plus">agregar</i>
                    </a>
                    </div>
                </div>
            </div>
            <hr>
            <table class="table table-light table-striped table-hover mx-2">
            <thead>
                <tr>
                    <th scope="col">Empleado</th>
                    <th scope="col">Puesto</th>
                    <th scope="col">Distrito</th>
                    <th scope="col" class="col-sm-2">Acción</th>
                </tr>
            </thead>
            <tbody id="mytbl">
                {% for uniforme in uniformes_pedidos%}
                <tr>
                    <td scope="col">{{uniforme.ropa}}</td>
                    <td scope="col">{{uniforme.talla}}</td>
                    <td scope="col">{{uniforme.cantidad}}</td>
                    <td scope="col"><button type="button" class="btn btn-danger" value="Delete" onclick="deleteRow(this)" id="delete" orden="{{orden.id}}" uniforme="{{uniforme.ropa.id}}" talla="{{uniforme.talla.id}}" cantidad="{{uniforme.cantidad}}" ><i class="fa-solid fa-trash-can"></i></button></td>
                </tr>
                {% endfor %}
            </tbody>
            </table>
            <table class="table table-light table-striped mx-1">
            <tbody>
                <tr>
                    <th scope="col">Empleados restantes para generar la orden:</th>
                    <td scope="col" id="">  </td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>
</div>

<!--Este es el modal-->
<div class="modal fade" id ="dialog" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" id="document" role="document">

    </div>
</div>
<script>
document.getElementById("ropa").addEventListener("change", function(element){
    // Esta función se ejecuta cuando el usuario cambia la selección en el elemento con el ID "ropa".
    // Aquí se actualizan los selectores de talla según la prenda seleccionada.
    // También se actualiza el valor de otro selector ("id_ropa") que parece estar oculto en la página.
    var select = document.getElementById('ropa');
    var current_option = select.options[select.selectedIndex];
    var id = current_option.getAttribute("ropa")
    var select_talla = document.getElementById('talla');
    var other_selector2 = document.getElementById('id_talla');
    console.log(id)

    other_selector2.selectedIndex = null
    select_talla.selectedIndex = null


    var other_selector = document.getElementById('id_ropa');
    other_selector.selectedIndex = select.selectedIndex


    for (var e= 1; e < select_talla.length; e++){
        index_ropa = select_talla[e].getAttribute("ropa")
        //console.log(index_ropa)
        if (index_ropa != id){
            select_talla[e].setAttribute("class","d-none")
        }
        else {
           select_talla[e].removeAttribute("class")
        }
    }
});


document.getElementById("talla").addEventListener("change",function(element){
    // Esta función se ejecuta cuando el usuario cambia la selección en el elemento con el ID "talla".
    // Aquí se actualiza el valor de otro selector ("id_talla") que parece estar oculto en la página.
    // Si la selección es nula, se deselecciona el selector "talla".
    var select =document.getElementById('talla');
    var current_option = select.options[select.selectedIndex];
    var id = current_option.getAttribute('talla');
    var other_selector = document.getElementById('id_talla');
    other_selector.selectedIndex = select.selectedIndex;

    if (id == null){
        select.selectedIndex = null
    }
});

var updateBtn = document.getElementById('update-uniformes')

updateBtn.addEventListener('click',function(){
    // Esta función se ejecuta cuando el usuario hace clic en el botón con ID "update-uniformes".
    // Aquí se obtienen los valores seleccionados por el usuario (prenda, talla, cantidad) y se llama a la función 'ActualizarUniformes'.
        var select = document.getElementById('id_ropa');
        var current_option = select.options[select.selectedIndex];
        console.log(current_option)
        uniforme = current_option.value

        var select_talla = document.getElementById('id_talla');
        var current_talla = select_talla.options[select_talla.selectedIndex];
        talla = current_talla.value

        cantidad = document.getElementById('id_cantidad').value;
        var orden = document.getElementById('orden')
        var orden_id = orden.getAttribute('orden')


        console.log('Uniforme',uniforme)
        console.log('Talla',talla)
        console.log('cantidad',cantidad)
        console.log('orden',orden_id)
        var action = "add";

        if (!uniforme) {
            Swal.fire({
                    "title":"Error",
                    "text":"Favor de seleccionar algún valor de la lista",
                    "icon":"error",
                })
        } else if (!talla)  {
            Swal.fire({
                    "title":"Error",
                    "text":"Favor de seleccionar algún valor de la lista",
                    "icon":"error",
                })
        //Si "la cantidad comprada" es menor que cero
        } else if (cantidad <=0 ) {
            Swal.fire({
                    "title":"Error",
                    "text":"La cantidad ingresada debe ser mayor que 0",
                    "icon":"error",
                })
        } else {
            ActualizarUniformes(orden_id,uniforme,talla,cantidad,action);
            document.getElementById("id_cantidad").value= null;
        }
})

function deleteRow(element) {
    // Esta función se ejecuta cuando el usuario hace clic en un botón de eliminar en la tabla de uniformes.
    // Aquí se obtienen los atributos personalizados del botón (orden, uniforme, talla, cantidad) y se llama a la función 'ActualizarUniformes' para eliminar el elemento.
    orden_id = element.getAttribute('orden');
    uniforme = element.getAttribute('uniforme');
    talla = element.getAttribute('talla');
    cantidad = element.getAttribute('cantidad')
    var action = "remove";
    ActualizarUniformes(orden_id,uniforme,talla,cantidad,action);

}


function ActualizarUniformes(orden_id,uniforme,talla,cantidad,action){
    // Esta función envía una solicitud POST al servidor para actualizar los uniformes.
    // Se envía la información necesaria (ID de la orden, ID de la prenda, ID de la talla, cantidad y acción).
    // La función es llamada tanto cuando se agrega un nuevo elemento como cuando se elimina uno.
    console.log('User is logged in, sending data...' )

    var url = 'update_uniformes/'

    fetch( url, {
        method:'POST',
        headers:{
            'Content-Type':'application/json',
            'X-CSRFToken': csrftoken,
        },
        body:JSON.stringify({'orden_id':orden_id, 'uniforme':uniforme, 'talla':talla, 'cantidad':cantidad, 'action':action})
    })
    .then((response)=>{
        return response.json()
    })
    .then((data)=>{
        console.log('data:', data)
        location.reload()
    })
}



</script>
{% endblock %}
</body>
</html>