{% extends 'partials/base.html' %}

{% load static %}
{% load widget_tweaks %}
{% load tt_extras %}

{% block title %}
    Bonos Varilleros
{% endblock title %}
    

{% block css %}

{% endblock css %}
    

{% block content %}
<div class="container-fluid margen-alto">
    {% csrf_token %}
    <div class="row">
        {% comment %}Mesajes de confirmación{% endcomment %}
        <div class="col-12">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success" %}
                    <div class="alert alerta-success alert-dismissible fade show" role="alert">
                        <strong><i class="fas fa-check"></i> {{ message }}</strong> 
                        <button type="button" class="btn-close white" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% else %}
                    <div class="alert alerta-danger alert-dismissible fade show" role="alert">
                        <strong><i class="fas fa-exclamation-triangle"></i> {{ message }} </strong> 
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card shadow">
                <div class="card-header d-flex justify-content-between">
                    <div class="card-title"><h5>Bonos Varilleros</h5></div>
                   
                    
                    {% comment %} Solo el supervisor puede crear solicitudes {% endcomment %}
                    {% if  usuario.tipo.id == 5 or usuario.tipo.id == 4 %}
                        <a href="{% url 'crearSolicitudBonosVarilleros' %}" class="btn btn-azul" ><i class="fas fa-plus"></i> Crear solicitud de bono</a>
                    {% endif %}
                </div>
              
                <div class="card-body">
                    {% comment %} Realizar Busquedas {% endcomment %}
                    <form method="get">
                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                                <label for="" class="fw-bold">Folio</label>
                                {% render_field autorizaciones_filter.form.folio class="form-control text-capitalize"%}
                            </div>
                            {% if usuario.tipo.id == 1 and usuario.distrito.id == 1  %}
                            <div class="col-auto">
                                <label for="" class="fw-bold">Distrito</label>
                                {% render_field autorizaciones_filter.form.distrito class="form-control text-capitalize"%}
                            </div>
                            {% endif %}
                            <div class="col-auto">
                                <label for="" class="fw-bold">Estado</label>
                                {% render_field autorizaciones_filter.form.estado class="form-control text-capitalize"%}
                            </div>
                            <div class="col-auto">
                                <label for="" class="fw-bold">Bono</label>
                                {% render_field autorizaciones_filter.form.bono class="form-control text-capitalize"%}
                            </div>
                            {% comment %}si es tipo supervisor o de tipo admimistrador mostrar el filtro{% endcomment %}                                
                            {% if usuario.tipo.id == 5 or usuario.tipo.id == 1%}
                            <div class="col-auto">
                                <label for="" class="fw-bold">Rol</label>
                                {% render_field autorizaciones_filter.form.rol class="form-control text-capitalize"%}
                            </div>
                            {% endif %}
                            <div class="col-auto">
                                <label for="" class="fw-bold">Fecha Inicio - Emisión</label>
                                {% render_field autorizaciones_filter.form.fecha_inicio type="date" class="form-control"%}
                            </div>
                            <div class="col-auto">
                                <label for="" class="fw-bold">Fecha Fin - Emisión</label>
                                {% render_field autorizaciones_filter.form.fecha_fin type="date" class="form-control"%}
                            </div>
                            <div class="col-auto">
                                <label for="" class="fw-bold">Fecha Inicio - Revisión</label>
                                {% render_field autorizaciones_filter.form.fecha_inicio_r type="date" class="form-control"%}
                            </div>
                            <div class="col-auto">
                                <label for="" class="fw-bold">Fecha Fin - Revisión</label>
                                {% render_field autorizaciones_filter.form.fecha_fin_r type="date" class="form-control"%}
                            </div>
                            <div class="col-auto">
                                <br>
                                <button type="search" class="btn btn-success"><i class="fas fa-search"></i></button>
                            </div>
                        </div>
                    </form>
                   
                </div>

              </div>
        </div>
    </div>
    {% comment %} Listar Solicitudes {% endcomment %}
    {% if autorizaciones|length != 0 %}
    <div class="row">
        <div class="col-12 my-3 table-responsive">
            <table class="table bg-white table-hover table-striped shadow" id="tabla">
                <thead>
                    <tr class="tabla-encabezado">
                        <th>Folio</th>
                        <th>Fecha Emisión</th>
                        <th>Fecha Revisión</th>
                        {% if usuario.tipo.id == 4 and usuario.distrito.id == 1  %}
                        <th>Distrito</th>
                        {% endif %}
                        <th>Bono</th>
                        <th>Autorización</th>
                        <th>Rol</th>
                        <th>Total</th>
                        <th colspan="3" style="width: 5%;"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for autorizacion in autorizaciones %}
                    <tr> 
                        
                        <td>{{autorizacion.solicitud.folio}}</td>
                        <td class="">{{autorizacion.solicitud.fecha|date:'d/m/Y H:i'}}</td>
                        <td class="">
                            {% if autorizacion.estado.id != 3 %}
                                {{autorizacion.created_at|date:'d/m/Y H:i'}}
                            {% endif %}
                        </td>
                        {% if usuario.tipo.id == 4 and usuario.distrito.id == 1  %}
                            <td>{{autorizacion.perfil.distrito}}</td>
                        {% endif %}
                        <td class="text-capitalize">{{autorizacion.solicitud.bono}}</td>
                        {% if autorizacion.estado.id == 1 %}
                            <td><span class="badge bg-success text-capitalize">{{autorizacion.estado}}</span></td>
                        {% elif autorizacion.estado.id == 2 %}
                            <td><span class="badge bg-danger text-capitalize">{{autorizacion.estado}}</span></td>
                        {% elif autorizacion.estado.id == 3 %}
                            <td><span class="badge bg-warning text-dark text-capitalize">{{autorizacion.estado}}</span></td>
                        {% elif autorizacion.estado.id == 4 %}
                            <td><span class="badge text-capitalize" style="background: #2A628F;">{{autorizacion.estado}}</span></td>
                        {% endif %}
                        
                        <td>{{autorizacion.tipo_perfil.nombre}}
                        <td><span class="badge" style="background: #2A628F;">${{autorizacion.solicitud.total}}</span></td>
            
                        <th>
                            <a href="{% url 'verDetalleSolicitud' autorizacion.solicitud.id %}" title="Ver detalles de la solicitud" class="btn btn-sm btn-success"><i class="fas fa-list"></i></a>
                        </th>
                        {% if autorizacion.estado.id == 4 and usuario.tipo.nombre == "Supervisor" %}
                        <th>
                            <a href="{% url 'verificarSolicitudBonosVarilleros' autorizacion.solicitud.id %}" title="Aplicar cambios a la solicitud" class="btn btn-sm btn-success"><i class="fas fa-edit"></i></a>
                        </th>
                        {% else %}
                            <th></th>
                        {% endif %}
                        {% if autorizacion.estado.id == 3 and usuario.tipo.id == autorizacion.tipo_perfil.id %}                      
                        <th>
                            <a href="{% url 'verDetalleSolicitud' autorizacion.solicitud.id %}" title="La soliciutd está pendiente" class="btn btn-sm btn-success"><i class="fas fa-edit"></i></a>
                        </th>
                        {% else %}
                        <th></th>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="card mt-3">
        <div class="card-body">
            <p class="text-muted">Sin resultados</p>
        </div>
    </div>
    {% endif %}
</div>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if salidas_list.has_previous %}
            <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url 1 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-left"></i></a></li>
            <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url salidas_list.previous_page_number  'page' request.GET.urlencode %}"><i class="fa-solid fa-angle-left"></i></a></li>
        {% endif %}

        {% for item in salidas_list.paginator.page_range %}
            {% if salidas_list.number == item %}
                <li class="page-item active"><a href="#" class="page-link bg-dark">{{item}}</a></li>
            {% elif item > salidas_list.number|add:'-2' and item < salidas_list.number|add:'2' %}
                <li class="page-item "><a class="page-link" style="color:#3E92CC" href="{% my_url item 'page' request.GET.urlencode %}" class="page-link">{{item}}</a></li>
            {% endif %}
        {% endfor %}

        {% if salidas_list.paginator.num_pages > salidas_list.number|add:'2' %}
            <li><a class="page-link" style="color:#3E92CC" href="?page={{salidas_list.number|add:'2'}}">&hellip;</a></li>
            <li><a style="color:#3E92CC" href="?page={{ item }}">{{item}}</a></li>
            <li><a class="page-link" style="color:#3E92CC" href="{% my_url salidas_list.paginator.num_pages 'page' request.GET.urlencode %}">{{salidas_list.paginator.num_pages}}</a></li>
        {% endif %}

        {% if salidas_list.has_next %}
            <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url salidas_list.next_page_number 'page' request.GET.urlencode %}"><i class="fa-solid fa-chevron-right"></i></a></li>
            <li class="page-item"><a class="page-link" style="color:#3E92CC" href="{% my_url salidas_list.paginator.num_pages 'page' request.GET.urlencode %}"><i class="fa-solid fa-angles-right"></i></a></a></li>
        {% endif %}
    </ul>
</nav>
{% endblock content %}
 

{% block js %}
    <script src="{% static 'js/esquema/bono_varillero/eliminar_solicitud.js' %}"></script>
{% endblock js %}