{% extends 'partials/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% load tt_extras %}

<html>
<head>
{% block title %}Prenomina revisar{% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<hr>
<hr>
<div class="container card card-body mt-5 mt-md-0">
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <h4 class="title is-size-2">Prenomina del empleado</h4>
            <h5 class="title is-size-2">Autorización</h5>
            <span class="h4">{{cos.nombres}} {{empleado.apellidos}}</span>
        </div>
        <hr>
        <div class="card-body">
            <div class="row">
                <span class="h5">Solicitud generada por: {{verificado_rh.perfil.nombres}} {{verificado_rh.perfil.apellidos}}</span>
                <span class="h5">Generada: {{verificado_rh.created_at}}</span>
                <span class="h5">Empleado: {{costo.status.perfil.nombres}} {{costo.status.perfil.apellidos}}</span>
                <span class="h6">Catorcena: {{catorcena_actual.fecha_inicial}} al {{catorcena_actual.fecha_final}}</span>
                <span class="h6">Control Tecnico: {{autorizacion1.perfil.nombres}} {{autorizacion1.perfil.apellidos}}</span>
                <span class="h6">Comentario: {{autorizacion1.comentario}}--Fecha:{{autorizacion1.updated_at}}--Estado:{{autorizacion1.estado.tipo}}</span>
                <span class="h6">Gerencia: {{autorizacion2.perfil.nombres}} {{autorizacion2.perfil.apellidos}}</span>
                <span class="h6">Comentario: {{autorizacion2.comentario}}--Fecha:{{autorizacion2.updated_at}}--Estado:{{autorizacion2.estado.tipo}}</span>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="table table-responsive">
                <table class="table table-striped table-hover bg-white" id="tabla_incidencias">
                    <thead class="text-black" style="background-color: #F5F5F5;">
                        <tr style="background-color:#2A628F;color:#ffffff;">
                            <th> </th>
                            <th>Fecha</th>
                            <th>Incidencia</th>
                            <th>Comentario</th>
                            <th>Soporte</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for incidencia in incidencias %}
                        <tr>
                            <td> </td>
                            <td>{{incidencia.fecha|date:"d/m/Y"}}</td>
                            <td>{{incidencia.incidencia}}</td>
                            <td>
                                {% if incidencia.comentario %}
                                    {{incidencia.comentario}}
                                {% endif %}
                            </td>

                            {% if incidencia.soporte %}
                                <td>
                                    <small><a title="click para ver el soporte" class="btn btn-success btn-sm" href="{{ incidencia.soporte.url }}" target="_blank"><i class="fas fa-download"></i></a> Ver Soporte</small>
                                </td>
                            {% elif incidencia.incidencia.id == 15 %}
                            <td></td>
                            {% comment %}    
                            <td>
                                <button type="submit" name="vacaciones_pdf" class="btn btn-outline-danger" value="{{ incidencia.fecha }}">
                                    <i class="fa-solid fa-file-pdf fa-2xl"></i>
                                </button>
                            </td>
                            {% endcomment %}
                            {% elif incidencia.incidencia.id == 14 %}
                            <td></td>
                            {% comment %}
                            <td>
                                <button type="submit" name="economico_pdf" class="btn btn-outline-danger" value="{{ incidencia.fecha }}">
                                    <i class="fa-solid fa-file-pdf fa-2xl"></i>
                                </button>
                            </td>
                             {% endcomment %}
                            {% else %}
                                <td></td>
                            {% endif %}
                        </tr>
                        
                        {% endfor %}
                    </tbody>
                </table>
                </div>
                <!-- Campo Comentario como un input independiente -->
                <div class="row my-2 align-items-center">
                    <label for="comentario_id" class="col-auto col-form-label my-1"><strong>Comentario:</strong></label>
                    <div class="col-12 col-md-8 my-3">
                        <input type="text" name="comentario" id="comentario_id" class="form-control" maxlength="250">
                    </div>
                </div>
                <!-- Botones para 'Aprobar' y 'Rechazar' -->
                <div class="row my-2 align-items-center">
                    <div class="d-flex flex-column flex-sm-row justify-content-between">
                        <button type="submit" name="aprobar" class="btn btn-success mb-3 mb-sm-0">Aprobar</button>
                        <button type="submit" name="rechazar" class="btn btn-danger">Rechazar</button>
                      </div>
                </div>
                <br></br>
                </form>
                <hr>
                <div>
                <a href="{% url 'Prenominas_solicitudes' %}" class="btn btn-outline-info"><i class="fa-solid fa-backward"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/prenomina/dias_semana.js' %}"></script>
{% endblock js %}
</body>

</html>