{% extends 'partials/base.html' %}
{% load date_filters %}
{% load widget_tweaks %}
{% load tt_extras %}


<html>
<head>
{% block title %}Prenomina revisar{% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<hr>
<hr>
<div class="container card card-body">
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <h4 class="title is-size-2">Prenomina del empleado</h4>
            <div class="d-flex justify-content-end my-0">
                
                <a class="btn btn-primary" href="{% url 'crear_rango_incidencias' costo.id %}" title="Agregar incidencias por rango"><i class="fas fa-plus"></i> Incidencias</a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm mx-3" data-bs-toggle="modal" data-bs-target="#incapacidades-modal">
                    Incapacidades
                </button>
                 <!-- Modal programar INDIDENCIAS-->
                 <div class="modal fade" id="programar-incidencias" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                   
                    </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#programar-incidencias">
                    Incidencias
                </button>

            </div>
            <span class="h4">{{cos.nombres}} {{empleado.apellidos}}</span>
        </div>
        <hr>
        <div class="card-body">
            <div class="row">
                <span class="h5">{{costo.status.perfil.nombres}} {{costo.status.perfil.apellidos}}</span>
                <span class="h6">Catorcena: {{catorcena_actual.fecha_inicial}} al {{catorcena_actual.fecha_final}}</span>
                <span class="h6">Control Tecnico: {{autorizacion1.perfil.nombres}} {{autorizacion1.perfil.apellidos}}</span>
                <span class="h6">Comentario: {{autorizacion1.comentario}}--Fecha:{{autorizacion1.updated_at}}--Estado:{{autorizacion1.estado.tipo}}</span>
                <span class="h6">Gerencia: {{autorizacion2.perfil.nombres}} {{autorizacion2.perfil.apellidos}}</span>
                <span class="h6">Comentario: {{autorizacion2.comentario}}--Fecha:{{autorizacion2.updated_at}}--Estado:{{autorizacion2.estado.tipo}}</span>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-hover bg-white">
                    <thead class="text-black" style="background-color: #F5F5F5;">
                        <tr style="background-color:#2A628F;color:#ffffff;">
                            <th>Fecha</th>
                            <th>Seleccionar Incidencia</th>
                            {% comment %}
                            <th>Incidencia actual</th>
                            {% endcomment %}
                            <th>Comentario</th>
                            <th>Subir Soporte</th>
                            <th>Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ prenomina_incidencias_form.management_form }}
                        {% for prenomina_form in prenomina_incidencias_form%} 
                        <tr>
                            <td>
                                {% render_field prenomina_form.fecha style="border: none; background: none;" class="form-control" readonly="True"%}
                            </td>
                            <td>
                                {% render_field prenomina_form.incidencia class="form-select select2-bootstrap"%}
                            </td>
                            {% comment %}
                            <td>Lorem</td>
                            {% endcomment %}
                            <td>
                                {% render_field prenomina_form.comentario class="form-control"%}
                            </td>
                            <td>
                                
                                {% render_field prenomina_form.soporte class="form-control form-control-sm"%}
                            </td>
                               
                            <td>
                                <div class="form-check">
                                    {% render_field prenomina_form.DELETE class="form-check-input"%}
                                    {{prenomina_form.id}}
                                    {{prenomina_form.rango_id}}
                                </div>
                               
                            </td>
                        </tr>
                        {% endfor %}
                            
                       
                    </tbody>
                </table>
                <button type="submit" name="guardar_cambios" class="btn btn-primary">Guardar Cambios</button>
                <br></br>
                </form>
                <hr>
                
                {% if usuario.tipo.admin == False %}
                <div class="d-none">
                {% else %}
                <div>
                {% endif %}
                <a href="{% url 'Prenomina' %}" class="btn btn-outline-info"><i class="fa-solid fa-backward"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var formulario = document.getElementById('id_form-0-incidencia')
        var domingoOption = formulario.querySelector('option[value="7"]');
        console.log(formulario)
        
    });
</script>
{% endblock js %}

</body>
</html>