{% extends 'partials/base.html' %}
{% load widget_tweaks %}
{% load tt_extras %}

<html>
<head>
{% block title %}Prenomina revisar{% endblock %}
</head>
<body>
{% block content %}
<!-- Esta es la zona donde se crean los mensajes perrones con sweet alert -->
<div class="row my-4">
    <div class="col-md-4">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == "error" %}
                <script>
                Swal.fire({
                    "title":"Error",
                    "text":"{{message}}",
                    "icon":"error",
                })
                </script>
                {% else %}
                <script>
                Swal.fire({
                    "title":"Excelente",
                    "text":"{{message}}",
                    "icon":"success",
                })
                </script>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

<hr>
<hr>
<div class="container card card-body">
    <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
            <h4 class="title is-size-2">Prenomina del empleado</h4>
            <div class="d-flex justify-content-end my-0">
                
                <a class="btn btn-primary" href="{% url 'crear_rango_incidencias' costo.id %}" title="Agregar incidencias por rango"><i class="fas fa-plus"></i> Incidencias</a>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm mx-3" data-bs-toggle="modal" data-bs-target="#incapacidades-modal">
                    Incapacidades
                </button>
                 <!-- Modal programar INDIDENCIAS-->
                 <div class="modal fade" id="programar-incidencias" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                    <form action="{% url 'crear_rango_incidencias' costo.id %}" method="post" enctype="multipart/form-data" id="incidencias-form">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Programar Incidencias</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
                            </div>
                            <div class="modal-body">
                                <label>Incidencias</label>
                                <div class="input-group mb-3">
                                    {% render_field incidenciasrangoform.incidencia class="form-control"%}
                                </div>
                                
                                {% comment %}      
                                <div class="input-group mb-3">
                                    <select id="incidencias" name="incidencias" class="form-control mb-2">
                                        <option selected disabled>------------</option>
                                        <option value="1">Incapacidades</option>
                                        <option value="2">Castigos</option>
                                        <option value="3">Permisos con goce </option>
                                        <option value="4">Permisos sin goce</option>
                                    </select>
                                </div>
                                {% endcomment %}

                                <label>Fecha Inicio</label>
                                <div class="input-group mb-3">
                                    {% render_field incidenciasrangoform.fecha_inicio type="date" class="form-control"%}
                                </div>

                                <label>Fecha Final</label>
                                <div class="input-group mb-3">
                                    {% render_field incidenciasrangoform.fecha_fin type="date" class="form-control"%}
                                </div>

                                <label>Día inhabil</label>
                                <div class="input-group mb-3">
                                    {% render_field incidenciasrangoform.dia_inhabil class="form-control"%}
                                </div>

                                <label>Comentario</label>
                                <div class="input-group mb-3">
                                    {% render_field incidenciasrangoform.comentario class="form-control"%}
                                </div>

                                <label>Soporte</label>
                                <div class="input-group mb-3" id="show-soporte">
                                    {% render_field incidenciasrangoform.soporte class="form-control"%}
                                </div>

                            </div>
                            <div class="modal-footer d-flex justify-content-between">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="submit" name="btn_incidencias" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </form>
                    </div>
                </div>
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#programar-incidencias">
                    Incidencias
                </button>

            </div>
            <span class="h4">{{cos.nombres}} {{empleado.apellidos}}</span>
        </div>
        <hr>
        <div class="card-body">
            <div class="row">
                <span class="h5">{{costo.status.perfil.nombres}} {{costo.status.perfil.apellidos}}</span>
                <span class="h6">Catorcena: {{catorcena_actual.fecha_inicial}} al {{catorcena_actual.fecha_final}}</span>
                <span class="h6">Control Tecnico: {{autorizacion1.perfil.nombres}} {{autorizacion1.perfil.apellidos}}</span>
                <span class="h6">Comentario: {{autorizacion1.comentario}}--Fecha:{{autorizacion1.updated_at}}--Estado:{{autorizacion1.estado.tipo}}</span>
                <span class="h6">Gerencia: {{autorizacion2.perfil.nombres}} {{autorizacion2.perfil.apellidos}}</span>
                <span class="h6">Comentario: {{autorizacion2.comentario}}--Fecha:{{autorizacion2.updated_at}}--Estado:{{autorizacion2.estado.tipo}}</span>
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table table-striped table-hover bg-white">
                    <thead class="text-black" style="background-color: #F5F5F5;">
                        <tr style="background-color:#2A628F;color:#ffffff;">
                            <th>Fecha</th>
                            <th>Seleccionar Incidencia</th>
                            {% comment %}
                            <th>Incidencia actual</th>
                            {% endcomment %}
                            <th>Comentario</th>
                            <th>Subir Soporte</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ prenomina_incidencias_form.management_form }}
                        {% for prenomina_form in prenomina_incidencias_form%} 
                        <tr>
                            <td>
                                {% render_field prenomina_form.fecha style="border: none; background: none;" class="form-control" readonly="True"%}
                            </td>
                            <td>
                                {% render_field prenomina_form.incidencia class="form-control select2-bootstrap"%}
                            </td>
                            {% comment %}
                            <td>Lorem</td>
                            {% endcomment %}
                            <td>
                                {% render_field prenomina_form.comentario class="form-control"%}
                            </td>
                            <td>
                                
                                {% render_field prenomina_form.soporte class="form-control form-control-sm"%}
                            </td>
                                {% render_field prenomina_form.id type="hidden"%}
                            <td>
                                <button class="btn btn-danger btn-sm" title="Eliminar incidencia"><i class="fas fa-minus"></i></button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" name="guardar_cambios" class="btn btn-primary">Guardar Cambios</button>
                <br></br>
                </form>
                <hr>
                
                {% if usuario.tipo.admin == False %}
                <div class="d-none">
                {% else %}
                <div>
                {% endif %}
                <a href="{% url 'Prenomina' %}" class="btn btn-outline-info"><i class="fa-solid fa-backward"></i></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>