{% extends 'partials/base.html' %}
{% block title %} Cerrar sesión {% endblock %}


{% block content %}
<hr>
<hr>
<div class="container">
    <div class='row mt-5'>
        <div class='col-md-6 offset-md-3'>
            <div class= "border p-3 bg-white">
                <h4>Se ha cerrado la sesión correctamente</h4>
                <hr>
                <div>
                    <h6>¡Gracias por pasar tiempo de calidad en el sistema!.</h6>
                </div>
                <a href="{%url 'user-login'%}" class="btn btn-primary mt-3">Volver</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}