{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block title %} Restablecer contraseña {% endblock %}

{% block content %}
<hr>
<div class="container">
  <div class="row justify-content-center">
      <div class="col-md-6">
          <div class="card mt-5">
              <div class="card-header text-center">
                  <h2>Restablecimiento de Contraseña</h2>
              </div>
              <form method="post">
              <div class="card-body">
                    <p class="text-muted">Por favor, ingrese la dirección de correo electrónico que utiliza. Le enviaremos un enlace para restablecer su contraseña.</p>
                    {% csrf_token %}
                    {% if form.email.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ form.email.errors }}
                    </div>
                    {% endif %}
                    {%render_field form.email class="form-control" placeholder="Correo electrónico" %}
              </div>
              <div class="card-footer text-right">
                  <button type="submit" class="btn btn-outline-primary"><i class="fa-solid fa-envelope"></i> Enviar correo</button>
                </div>
            </form>
          </div>
      </div>
  </div>
</div>
{% endblock %}